
%p
  = link_to start_path do
    %img{ src: '/images/info_icon.png', class: 'icon' }
    How to get started

%p
  %br

%p
  = link_to new_beachclean_path do
    %img{ src: '/images/beachclean_icon.png', class: 'icon' }
    New beach clean

%p
  = link_to new_whalewatch_path do
    %img{ src: '/images/whalewatch_icon.png', class: 'icon' }
    New whale watch

%p
  = link_to new_fishery_path do
    %img{ src: '/images/fisheries_icon.png', class: 'icon' }
    New fisheries data

%p
  %br

%p
  = link_to activities_path do
    %img{ src: '/images/unsubmitted_icon.png', class: 'icon' }
    Unsubmitted logs
    %span{ id: 'unsubmitted-logs-count' }


-# TODO Only when logged in:
-# %p
-#   = link_to analytics_path do
-#     %img{ src: '/images/analytics_icon.png', class: 'icon' }
-#     Analytics

-# TODO
-# small: Log in as LTO staff or volunteer
