%section
  %h2 Unsubmitted

  %ul
  - user = User.default
  - user.unsubmitted_cleanups.each do |cleanup|
    %li
      %a{ href: cleanup_path(cleanup) }
        #{cleanup.date} #{cleanup.place_name}
      = button_to 'SUBMIT', submit_cleanup_path(cleanup), { class: 'action' }
      = button_to 'DELETE', cleanup_path(cleanup), { method: :delete, class: 'action' }

%section.subdued
  %h2 Submitted

  %ul
  - user = User.default
  - user.submitted_cleanups.each do |cleanup|
    %li
      %a{ href: cleanup_path(cleanup) }
        #{cleanup.date} #{cleanup.place_name}
      = button_to 'DELETE', cleanup_path(cleanup), { method: :delete, class: 'action' }
