= form_for @scope do |form|
  = form.hidden_field :for, :value => @for
  = form.hidden_field :user_id, :value => User.default.id

  = form.label :date, 'Date'
  = form.date_field :date, default: Time.now.strftime("%Y-%m-%d")

  = form.label :place, 'Place'
  = form.select :place, Place.as_select_options, { include_blank: true, selected: nil }

  = form.submit 'Start logging'
