= form_for @scope do |form|
  = form.hidden_field :user_id, :value => User.default.id

  = form.label :date, 'Date'
  = form.date_field :date, default: Time.now.strftime("%Y-%m-%d")

  = form.label :place, 'Place'
  = form.select :place, options_for_select(Place.as_select_options)

  = form.submit 'Start logging'
