%h3 New beach clean

= form_for @beachclean do |form|
  - if flash[:date_missing]
    = form.label :date, 'Date (required)', { class: 'error' }
  - else
    = form.label :date, 'Date'
  = form.date_field :date, value: Time.now.strftime("%Y-%m-%d")

  = form.label :place_id, 'Place'
  = form.select :place_id, Place.select_options, { include_blank: true, selected: nil }

  %div.hidden{ id: 'other-place' }
    = label_tag :place_name, 'Name or brief description'
    = text_field_tag :place_name
    = check_box :location, nil
    Grab my current location

  = form.submit 'Start logging', { id: 'js-create-beachclean' }
