%p
  We received your data!

  %ul
    %li Date: #{pretty_print_date @beachclean.date}
    %li Place: #{pretty_print_place @beachclean.place}
    %li Estimated weight: #{@estimated_weight.round(2)} kg

%p
  If you want to enable us to use your data in our research,
  we'd appreciate if you signed it. 

= form_tag(verify_beachclean_path(@beachclean.uuid)) do
  I am a
  %ul
    %li
    = radio_button_tag(:group, :visitor)
    visitor
    %li
    = radio_button_tag(:group, :resident)
    resident
    %li
    = radio_button_tag(:group, :lto_volunteer)
    LTO volunteer

  = label_tag :name, 'Name'
  = text_field_tag :name

  = label_tag :email, 'Email'
  = email_field_tag :email

  = submit_tag 'Sign beach clean'
