%h3 Thanks for helping to keep our beaches clean! :-)

%p
  We'd love to use your data in our research.
  In order to do so, we'd appreciate if you signed it.

%h3 Signature

= form_tag('/beachcleans/' + @beachclean.uuid + '/sign', method: 'POST') do
  I am a
  %ul
    %li
    = radio_button_tag(:group, :visitor)
    visitor
    %li
    = radio_button_tag(:group, :resident)
    resident
    %li
    = radio_button_tag(:group, :lto_volunteer)
    LTO volunteer

  = label_tag :name, 'Name'
  = text_field_tag :name

  = label_tag :email, 'Email'
  = email_field_tag :email

  %span.footprint We will not give your email to anyone else.

  = submit_tag 'Sign beach clean'
