%ul
  %li
  %strong Date:
  #{pretty_print_date @beachclean.date}

  %li
  %strong Place:
  #{pretty_print_place @beachclean.place}

%p
  %ul
  - @items.each do |item|
    - next if item.quantity == 0
    %li
    = to_plural(item.quantity, ItemCategory.full_name(item.category))

%ul
  %li
  %strong Estimated weight:
  #{@weight_in_kg.round(2)} kg



%p
= form_tag('/beachcleans/' + @beachclean.uuid + '/sign', method: 'POST', :id => 'signature') do
  I am a
  %ul
    %li
    = radio_button_tag(:group, :visitor)
    visitor
    %li
    = radio_button_tag(:group, :resident)
    resident
    %li
    = radio_button_tag(:group, :lto_volunteer)
    LTO volunteer

  = label_tag :name, 'Name'
  = text_field_tag :name

  = label_tag :email, 'Email'
  = email_field_tag :email

  %p.footprint
    With this information you sign your beach clean and enable use to use it for research purposes.
  %p.footprint
    We will not share your data with anyone else. 

  %button.submit-log{ id: 'js-show-beachclean' } Back
  %button.submit-log{ id: 'js-submit-beachclean' } Submit beach clean
