!!! 5
%html

  %head
    %title Heróis da praia

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    %header
      = link_to image_tag('lto_logo.png', size: '60x60', alt: 'LTO'), root_path

    %main
      #content
        = yield

    %footer
      = link_to fa_icon('globe'), 'https://www.lovetheoceans.org'
      = link_to fa_icon('facebook-square'), 'https://www.facebook.com/lovetheoceansorganisation/'
      = link_to fa_icon('instagram'), 'https://www.instagram.com/lovetheoceans/'
