!!! 5
%html

  %head
    %title Os heróis da praia
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    %header
      = link_to 'Log', new_cleanup_path

      = image_tag 'lto_logo.png', size: '60x60', alt: 'LTO'

      = link_to 'How', welcome_how_path
      = link_to 'Why', welcome_why_path

    %main
      = yield

    %footer
      = link_to fa_icon('globe'), 'https://www.lovetheoceans.org'
      = link_to fa_icon('facebook-square'), 'https://www.facebook.com/lovetheoceansorganisation/'
      = link_to fa_icon('instagram'), 'https://www.instagram.com/lovetheoceans/'
